@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: "Inter", sans-serif;
}

::selection {
  background-color: #E6F8ED;
  color: #0ABF53;
}

.container {
  width: 1140px;
  margin: auto;
}

// Navabr Section Start
nav {
  .container {
    width: 1140px;
    margin: auto;

    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem 0;

      img {
        height: 35px;
      }

      .nav-item {
        display: flex;
        gap: 1rem;
        list-style-type: none;
        flex-grow: 1;
        margin-left: 2rem;
        font-size: 16px;
      }

      li {
        padding: 16px 20px;
      }

      li:hover {
        background-color: #ddd;
        border-radius: 10px;
      }

      .button-group {
        .btn-one {
          padding: 18px 30px;
          border-radius: 5px;
          border: none;
          font-size: 15px;
          font-weight: 600;
          color: #2d374b;
          background-color: transparent;
        }
        .btn-one:hover {
          background-color: #eaebed;
        }
        .btn-two {
          padding: 18px 30px;
          background-color: transparent;
          background-color: #2d374b;
          color: white;
          border: none;
          border-radius: 5px;
          font-weight: bold;
          font-size: 15px;
          font-weight: 700;
        }
        .btn-two:hover {
          background-color: #4d5566;
        }
      }
    }
  }
}
// Navbar Section End

// Hero Section Start
.hero-section {
  margin-top: 2rem;

  .features-item {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    div {
      width: 480px;
    }
  }

  .left-aria {
    padding: 2rem 0;

    span {
      color: #0abf53;
    }

    h1 {
      font-size: 60px;
      color: #2d374b;
    }
    p {
      padding: 2rem 0;
      color: #2d374b;
      font-size: 20px;
      line-height: 2rem;
    }
  }

  .btn-group {
    .btn-request {
      padding: 18px 30px;
      background-color: transparent;
      background-color: #0abf53;
      color: white;
      font-weight: 700;
      font-size: 15px;
      border-radius: 5px;
      outline: none;
      border: none;
    }
  }

  .btn-request:hover {
    background-color: #09a247;
  }

  .btn-signup-free {
    padding: 18px 30px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 15px;
  }

  .btn-signup-free:hover {
    background-color: rgba(0, 0, 0, 0.125);
    border-radius: 5px;
  }

  .right-aria {
    flex-grow: 1;

    .hero-section-image {
      width: 90%;
      height: 555px;
      background-image: cover;
    }
  }
}
// Hero Section End

//Features Card section Start
.features-section {
  margin-top: 6rem;
  .features-card-items {
    display: flex;
    justify-content: space-between;

    .card {
      text-align: center;
      flex-shrink: 1;
      i {
        font-size: 35px;
        font-weight: 100;
        color: #2d374b;
      }
      h2 {
        margin-top: 1.3rem;
        color: #2d374b;
        font-size: 18px;
      }
      p {
        margin-top: 0.8rem;
        color: #2d374b;
        font-size: 16px;
      }
    }
  }
}
//Features Card section End

// Experience Section Start
.experience-section {
  margin-top: 6rem;
  .collaborate {
    display: flex;
    gap: 5rem;
    .image-aria {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      .image1 {
        width: 180px;
        background-size: cover;
        border-radius: 10px;
      }
      .image2 {
        width: 150px;
        background-size: cover;
        border-radius: 10px;
      }
      .image3 {
        width: 230px;
        background-size: cover;
        border-radius: 10px;
      }
    }
  }

  .text-aria {
    margin-top: 3rem;
    flex-grow: 1;
    h2 {
      font-size: 36px;
      color: #2d374b;
    }
    p {
      margin-top: 1.5rem;
      line-height: 1.5rem;
      color: #2d374b;
      font-size: 16px;
    }
  }

  .icons-text {
    padding: 3rem 0;
    h4 {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 0;
      i {
       font-size: 22px;
       color: #0ABF53;
      }
      span {
        padding: 0.1rem;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
  
}
// Experience Section End



//Icon Card Section Start
.icons-card-section {
  margin-top: 3rem;

  .card-items-features {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2rem;
    gap: 2rem;
    .card-items {
      text-align: center;
      padding: 1rem;
      i {
        font-size: 38px;
        font-weight: 300;
        color: #2d374b;
      }
      p {
        margin-top: 0.5rem;
        line-height: 1.5rem;
      }
    }
  }
}
//Icon Card Section End 

//Challenge Card Section Start
.challenge-face-section {
  margin-top: 6rem;
  .face-card {
    display: flex;
    gap: 6rem;
    img {
      width: 546px;
      height: 546px;
      background-size: cover;
      border-radius: 10px;
    }
  }

  .text-aria {
    margin-top: 3rem;
    flex-grow: 1;
    h2 {
      font-size: 36px;
      color: #2d374b;
    }
    p {
      margin-top: 1.5rem;
      line-height: 1.5rem;
      color: #2d374b;
      font-size: 16px;
    }
  }

  .icons-text {
    padding: 2rem 0;
    h4 {
      display: flex;
      gap: 1rem;
      padding: 0.5rem 0;
      i {
       font-size: 22px;
       color: #0ABF53;
      }
      span {
        padding: 0.1rem;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }

  .button-three {
    button {
      padding: 18px 30px;
      border: none;
      background-color: transparent;
      background-color: #0abf53;
      border-radius: 5px;
      color: #fff;
      font-weight: 600;
    }
    button:hover {
      background-color: #09a247;
      color: #fff;
      font-weight: 600;
    }
  }
}
//Challenge Card Section End

// All About Section Start
.all-about-speed-section {
margin-top: 6rem;
  .about-section {
    display: flex;
    gap: 3rem;
    .about-text {
      width: 550px;
      height: 380px;

      h2 {
        font-size: 36px;
        color: #2d374b;
      }
      p {
        font-size: 16px;
        color: #2d374b;
        padding: 1rem 0;
      }
      h4 {
        font-size: 20px;
        padding: 2rem 0;
        color: #2d374b;
        font-style: italic;
        font-weight: 400;
      }
    }
  }

  .avator-image {
    display: flex;
    gap: 1rem;
    
    h5 {
      font-size: 16px;
      padding: 0.3rem 0;
      color: #2d374b;
    }
    span {
      display: block;
      font-size: .8125rem;
      color: #677788;
    }
  }

  .image {
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-size: cover;
    }
  }

  .right-aria {
    width: 100%;
    height: 380px;
    position: relative;

    .line:after {
      content: '';
      width: 2px;
      height: 380px;
      background-color: #EAECEF;
      position: absolute;
      left: 50%;
      right: 0;
    }
    .two-line:after {
      content: '';
      width: 550px;
      height: 2px;
      background-color: #EAECEF;
      position: absolute;
      left: 14%;
      top: 50%;
      right: 0;
    }
    
    .four-items-box {
      display: flex;
      justify-content: space-evenly;
      padding: 2rem 0;
    }

    .items-box {
      h2 {
        font-size: 48px;
        color: #2d374b;
        color: #2d374b;
      }
      p {
        padding: 1rem 0;
        font-size: 16px;
        line-height: 1.3rem;
        color: #2d374b;
      }
    }
  }
}
// All About Section End

// Title Image Section Start
.title-image-section {
  padding: 6rem 0;
  .title-image {
    display: flex;
    justify-content: space-evenly;

    img {
      width: 100px;
    }
  }
}
// Title Image Section End

// Header Section Start
  .header-section {
    h2 {
      font-size: 36px;
      text-align: center;
      color: #2d374b;
    }
    p {
      font-size: 16px;
      text-align: center;
      padding: 1rem;
      color: #2d374b;
    }
  }
// Header Section End

// Collaborate Section Start
.collaborate-section {
  padding: 2.5rem 0;
  .card-container {
    display: flex;
    justify-content: space-between;
    .card {
      width: 360px;

      img {
        width: 100%;
        border-radius: 20px;
      }

      .text {
        padding: 1rem 0;
        h2 {
          color: #2d374b;
        }
        p {
          padding: 1rem 0;
          font-size: 16px;
          color: #2d374b;
        }
        .text-end {
          color: #2460d8;
        }
      }
      .text-icons {
        display: flex;
        gap: 0.5rem;
        h5 {
          color: #2d374b;
          font-size: 15px;
          font-weight: 500;
          color: #0abf53;
        }
        span {
          color: #0abf53;
          font-size: 20px;
        }
      }
    }

    .panting-card {
      position: relative;

      .sponsored {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.4rem 0.5rem;
        background-color: #2D374B;
        color: #fff;
        font-size: 12px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }
}
// Collaborate Section End


